matplotlib~=3.0
scipy~=1.0
scikit-learn~=1.0; python_version >= '3.7'
scikit-learn~=0.23.0; python_version < '3.7'
seaborn~=0.11.0
scikit-plot~=0.3.7
xgboost~=1.1
graphviz~=0.16.0
python-dotenv~=0.17.0
nuclio-jupyter[jupyter-server]~=0.8.22
