matplotlib~=3.5
scipy~=1.0
scikit-learn~=1.0
seaborn~=0.11.0
scikit-plot~=0.3.7
xgboost~=1.1
graphviz~=0.20.0
python-dotenv~=0.17.0
nuclio-jupyter[jupyter-server]~=0.9.8
nbclassic>=0.2.8
# added to tackle security vulnerabilities
notebook~=6.4
Pillow~=9.0
