# below: data science libraries
matplotlib~=3.5
# TODO: upgrade to >= 1.14 once we deprecate python 3.9
scipy~=1.13.0
scikit-learn~=1.5.1
seaborn~=0.11.0
scikit-plot~=0.3.7
xgboost~=1.1
graphviz~=0.20.0
# below: MLRun integration
python-dotenv~=1.0
# below: vulnerabilities remediation
wheel~=0.44
setuptools>=75.2
requests~=2.32
cryptography~=43.0
certifi~=2024.0
