blosc==1.7.0
cloudpickle==1.1.1
dask-kubernetes>=0.10.1
dask-ml>=1.4.0
dask-xgboost>=0.1.10
dask[complete]==2.12
distributed==2.14
kubernetes==10.0.1
lz4==2.2.1
msgpack==1.0.0
numpy==1.18.1
scikit-learn>=0.23
scikit-plot>=0.3.7
tornado==6.0.4
urllib3==1.25.8
vaex>=2.6
xgboost>=1.1
yellowbrick>=1.1
