blosc~=1.7
dask-kubernetes~=0.11.0
dask-ml~=1.4,<1.9.0
dask[complete]~=2023.12.1
vaex~=4.0
yellowbrick~=1.1
lifelines~=0.25.0
plotly~=5.23
pyod~=0.8.1
scikit-multiflow~=0.5.3
scikit-optimize~=0.8.1
scikit-image~=0.16.0
numexpr~=2.6
sympy~=1.5
pymysql~=1.0
lightgbm~=4.3
graphviz~=0.20.0
opencv-python-headless~=4.0
pyhive @ git+https://github.com/v3io/PyHive.git@v0.6.999
v3io-generator @ git+https://github.com/v3io/data-science.git#subdirectory=generator
