.git
.circleci
.pytest_cache
.github
.import_linter_cache
.run
venv
__pycache__
.idea
.DS_Store
.git-blame-ignore-revs
.gitignore
.hypothesis
.ruff_cache
kubeconfig
**/env.yml
**/patch_env.yml
mlrun.egg-info
