.git
.circleci
.pytest_cache
.github
.import_linter_cache
.run
venv
__pycache__
.idea
**/.DS_Store
.git-blame-ignore-revs
.gitignore
.hypothesis
.ruff_cache
kubeconfig
**/env.yml
**/patch[_\-]env.yml
**/mlrun.env
mlrun.egg-info

**/*.coverage
**/.aws-secrets
**/credentials.txt
**/credentials.json
**/test-alibaba-oss.yml
**/test-azure-blob.yml
**/test-aws-s3.yml
**/test-google-cloud-storage.yml
**/test-dbfs-store.yml
**/test-redis.yml

**/google-big-query-credentials.json

# this is just a template
!dockerfiles/jupyter/mlrun.env
**/hack/*.env
