*.pyc
__pycache__/
.aws-secrets
.idea/
.ipynb_checkpoints
.pytest_cache/
.hypothesis/
.vscode/
.bin
.DS_Store
build
chart
chart.html
dask-worker-space
dask-worker-space/
dataset.csv
dist
Dockerfile.mlrun-test-nb
docs/_build
docs/external/*.html
docs/external/*.md
docs/api/**/generated_rsts/
iteration_results.csv
mlrun.egg-info/
model.txt
result*.html
tests/test_results/
tests/temp*
tests/*.pkl
tests/project.yaml
*venv*
mlrun/utils/version/version.json
tests/system/env.yml
project.yaml
server/api/db/mlrun.db

# pyenv file for working with several python versions
.python-version
*.bak
docs/contributing.md
server/api/proto/*pb2*.py
automation/patch_igz/patch[_-]env.yml
kubeconfig

# used for local development.
# e.g., when developing for mlrun api, you may use this env to preset envvars.
# then, when running the api, just feed it with "MLRUN_DEFAULT_ENV_FILE=<absolute-path-to-this-file>"
hack/*.env

# files generated for openapi spec checks
mlrun_bc_*.json

# used for local development.
playground
credentials.txt
credentials.json
google-big-query-credentials.json
*.coverage
