*.pyc
.aws-secrets
.ipynb_checkpoints
.vscode/
Dockerfile.mlrun-test-nb
build
chart
chart.html
dask-worker-space
dask-worker-space/
dataset.csv
docs/_build
dist
docs/_build
docs/external/*.html
docs/external/*.md
iteration_results.csv
mlrun.egg-info/
model.txt
result*.html
tests/test_results/
.idea/
venv
