[importlinter]
root_package=mlrun
include_external_packages=True


[importlinter:contract:mlrun-common]
name=Common modules shouldn't import other mlrun utilities
type=forbidden
source_modules=
    mlrun.common

forbidden_modules=
    mlrun.api
    mlrun.artifacts
    mlrun.data_types
    mlrun.datastore
    mlrun.db
    mlrun.feature_store
    mlrun.frameworks
    mlrun.launcher
    mlrun.mlutils
    mlrun.model_monitoring
    mlrun.package
    mlrun.platforms
    mlrun.projects
    mlrun.runtimes
    mlrun.serving
    mlrun.execution
    mlrun.features
    mlrun.k8s_utils
    mlrun.kfpops
    mlrun.lists
    mlrun.model
    mlrun.render
    mlrun.run
    mlrun.secrets

ignore_imports =
    mlrun.config -> mlrun.db
    mlrun.utils.clones -> mlrun
    mlrun.utils.helpers -> mlrun

[importlinter:contract:mlrun-api]
name=MLRun modules shouldn't import MLRun API
type=forbidden
source_modules=
    mlrun.artifacts
    mlrun.common
    mlrun.data_types
    mlrun.datastore
    mlrun.db
    mlrun.feature_store
    mlrun.frameworks
    mlrun.launcher
    mlrun.mlutils
    mlrun.model_monitoring
    mlrun.package
    mlrun.platforms
    mlrun.projects
    mlrun.runtimes
    mlrun.serving
    mlrun.utils
    mlrun.config
    mlrun.errors
    mlrun.execution
    mlrun.features
    mlrun.k8s_utils
    mlrun.kfpops
    mlrun.lists
    mlrun.model
    mlrun.render
    mlrun.run
    mlrun.secrets

forbidden_modules=
    mlrun.api

ignore_imports =
    mlrun.utils.notifications.notification_pusher -> mlrun.api.db.session
    mlrun.utils.notifications.notification_pusher -> mlrun.api.db.base
    mlrun.runtimes.daskjob -> mlrun.api.utils.singletons.k8s
    mlrun.runtimes.utils -> mlrun.api.utils.singletons.k8s
