pytest~=5.4
twine~=3.1
# from 20.8 (the next version) it requires click>=7.1.2 which conflicts with kfp - TODO: bump black (kfp bumped, this is not a problem anymore)
black<=19.10b0
flake8~=3.8
pytest-asyncio~=0.14
# See jupyter-server for why we're limiting it to a specific version
# The jupyter-server that we're using (1.0.8) has a bug (https://github.com/jupyter-server/jupyter_server/issues/337)
# which makes pytest dependent on pytest-tornasync (when jupyter-server is installed) the bug was fixed
# (https://github.com/jupyter-server/jupyter_server/pull/339) and released in 1.1.0
# (https://github.com/jupyter-server/jupyter_server/releases/tag/1.1.0) But the change there require tornado upgrade
# which we can't make currently
# TODO: when tornado upgrade is possible, do it, upgrade jupyter-server and remove this
pytest-tornasync~=0.6.0
deepdiff~=5.0
pytest-alembic~=0.2
requests-mock~=1.8
# needed for system tests
matplotlib~=3.0
graphviz~=0.16.0
nuclio-sdk~=0.3.0
isort~=5.7
# needed for mlutils tests
scikit-learn~=0.23.0
