# In our docker images we're copying the requirements files and pip installing them before copying and installing the
# whole code. We're doing that to leverage docker build cache so that we won't need to actually install all the
# requirements for every change in the code (which causes a cache miss in the copy command for the whole code) but we'll
# get "requirement is already satisfied" which causes the pip install of the mlrun package itself to be very quick.
# The extras requirements definition sits in the setup.py itself, therefore without this file these requirements were
# installed only in the last phase of installing mlrun, which causes this step to be longer and lowers the effectiveness
# of the above trick. To overcome this we have this file, which is a copy of all the requirements defined in the extras
# in setup.py so that we'll be able to copy and install this in the layer with all other requirements making the last
# layer (which is most commonly being re-built) as thin as possible
# we have a test test_extras_requirement_file_aligned to verify this file is aligned to setup.py
boto3~=1.9, <1.17.107
botocore>=1.20.106,<1.20.107
aiobotocore~=1.4.0
s3fs~=2021.8.1
# https://github.com/Azure/azure-sdk-for-python/issues/24765#issuecomment-1150310498
msrest~=0.6.21
azure-core~=1.24
azure-storage-blob~=12.13
adlfs~=2021.8.1
azure-identity~=1.5
azure-keyvault-secrets~=4.2
bokeh~=2.4, >=2.4.2
gcsfs~=2021.8.1
plotly~=5.4
google-cloud-bigquery~=3.2
kafka-python~=2.0
redis~=4.3
