[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
sklearn = "*"
xgboost = "*"
distributed = ">=2.3.0"
kfp = ">=0.1.29"

[packages]
Flask = ">=1.1.1"
GitPython = ">=2.1.0"
aiohttp = ">=3.5.0"
boto3 = ">=1.9"
click = ">=7.0"
kubernetes = ">=9.0.0"
nest-asyncio = ">=1.0.0"
nuclio-jupyter = ">=0.7.5"
nuclio-sdk = ">=0.0.3"
pandas = ">=0.23.0"
pyyaml = ">=5.1.0"
requests = ">=2.20.1"
tabulate = ">=0.8.0"

[requires]
python_version = "3.6"
