[tool.ruff]
target-version = "py39"
required-version = ">=0.6.3"

[tool.ruff.lint]
extend-select = [
    "F",   # pyflakes
    "W",   # pycodestyle
    "E",   # pycodestyle
    "I",   # isort
    "UP",  # pyupgrade
    "CPY", # flake8-copyright
    "N801", # CamelCase for class names
    "N805", # first argument of instance method should be 'self'
    "N806", # lowercase variable names
    "N816", # snake_case for global variable names
    "N999", # snake_case for module names
    "N802",
    "N803",
    "N804",
    "N812",
    "N813",
    "N815",
    "B006", # mutable default arguments
]
explicit-preview-rules = true

[tool.ruff.lint.pycodestyle]
max-line-length = 120

[tool.ruff.lint.extend-per-file-ignores]
"__init__.py" = ["F401"]
"docs/**.py" = ["CPY001"]
"*.ipynb" = ["ALL"]  # TODO: enable linting rules on Jupyter notebooks

[tool.ruff.lint.flake8-copyright]
author = "Iguazio"

[tool.ruff.format]
docstring-code-format = true

[tool.pytest.ini_options]
addopts = "-v -rf --disable-warnings"
python_files = [
    "tests/*/test_*.py",
    "tests/test_*.py",
]
timeout = 1800  # 30 minutes per test
log_cli = true
log_level = "DEBUG"
asyncio_mode = "auto"

[tool.importlinter]
root_packages = [
    "mlrun",
    "server",
]
include_external_packages = true

[[tool.importlinter.contracts]]
name = "Common modules shouldn't import other mlrun utilities"
type = "forbidden"
source_modules = [
    "mlrun.common",
]
forbidden_modules = [
    "mlrun.api",
    "mlrun.artifacts",
    "mlrun.data_types",
    "mlrun.datastore",
    "mlrun.db",
    "mlrun.feature_store",
    "mlrun.frameworks",
    "mlrun.launcher",
    "mlrun.model_monitoring",
    "mlrun.package",
    "mlrun.platforms",
    "mlrun.projects",
    "mlrun.runtimes",
    "mlrun.serving",
    "mlrun.track",
    "mlrun.execution",
    "mlrun.features",
    "mlrun.k8s_utils",
    "mlrun.lists",
    "mlrun.model",
    "mlrun.render",
    "mlrun.run",
    "mlrun.secrets",
]
ignore_imports = [
    "mlrun.config -> mlrun.db",
    "mlrun.utils.clones -> mlrun",
    "mlrun.utils.helpers -> mlrun",
]

[[tool.importlinter.contracts]]
name = "MLRun should not directly import kfp [use mlrun_pipelines instead]"
type = "forbidden"
source_modules = [
    "mlrun",
    "server.api",
]
forbidden_modules = [
    "kfp",
]

[[tool.importlinter.contracts]]
name = "MLRun server may import mlrun but not the way around"
type = "layers"
layers = [
    "server",
    "mlrun",
]

[[tool.importlinter.contracts]]
name = "MLRun should not import mlrun.api"
type = "forbidden"
source_modules = [
    "server.api",
    "mlrun.common",
    "mlrun.artifacts",
    "mlrun.data_types",
    "mlrun.datastore",
    "mlrun.db",
    "mlrun.feature_store",
    "mlrun.frameworks",
    "mlrun.launcher",
    "mlrun.model_monitoring",
    "mlrun.package",
    "mlrun.platforms",
    "mlrun.projects",
    "mlrun.runtimes",
    "mlrun.serving",
    "mlrun.track",
    "mlrun.execution",
    "mlrun.features",
    "mlrun.k8s_utils",
    "mlrun.lists",
    "mlrun.model",
    "mlrun.render",
    "mlrun.run",
    "mlrun.secrets",
]
allow_indirect_imports=false
forbidden_modules = [
    "mlrun.api",
]
