# >=1.28.0,<1.29.0 botocore inside boto3 1.28.17 inside nuclio-jupyter 0.9.13
urllib3>=1.26.9, <1.27
GitPython~=3.1, >=3.1.41
aiohttp~=3.9
aiohttp-retry~=2.8
click~=8.1
nest-asyncio~=1.0
ipython~=8.10
nuclio-jupyter~=0.10.4
numpy>=1.16.5, <1.27.0
# pandas 2.2 requires sqlalchemy 2
pandas>=1.2, <2.2
# used as a the engine for parquet files by pandas
# >=10 to resolve https://issues.apache.org/jira/browse/ARROW-16838 bug that is triggered by ingest (ML-3299)
# <15 to prevent bugs due to major upgrading
pyarrow>=10.0, <15
pyyaml>=5.4.1, <7
requests~=2.32
# >=0.8.6 from kfp 1.6.0 (and still up until 1.8.10)
tabulate~=0.8.6
v3io~=0.6.9
# pydantic 1.10.8 fixes a bug with literal and typing-extension 4.6.0
# https://docs.pydantic.dev/latest/changelog/#v1108-2023-05-23
# TODO: loosen upperbound and remove the below comment once fixed upstream
# pydantic 1.10.15 breaks backwards compatibility due to https://github.com/pydantic/pydantic/pull/9042
pydantic>=1.10.8, <1.10.15
mergedeep~=1.3
v3io-frames~=0.10.14
semver~=3.0
dependency-injector~=4.41
# should be identical to gcs and s3fs.
fsspec>=2023.9.2, <2024.7
v3iofs~=0.1.17
storey~=1.7.24
inflection~=0.5.0
python-dotenv~=0.17.0
# older version of setuptools contains vulnerabilities, see `GHSA-r9hx-vwmv-q579`, so we limit to 65.5 and above
setuptools~=71.0
deprecated~=1.2
jinja2~=3.1, >=3.1.3
orjson>=3.9.15, <4
# mlrun pipeline adapters
mlrun-pipelines-kfp-common~=0.1.7
mlrun-pipelines-kfp-v1-8~=0.1.6
