# >=1.25.4, <1.27 from botocore 1.19.28 inside boto3 1.16.28 inside nuclio-jupyter 0.8.8
urllib3>=1.25.4, <1.27
# >=3.0.2 from requests 2.25.1 <4.0 from aiohttp 3.7.3, requests is <5, so without the upbound there's a conflict
chardet>=3.0.2, <4.0
GitPython~=3.0
aiohttp~=3.8
aiohttp-retry~=2.8
# 8.1.0+ breaks dask/distributed versions older than 2022.04.0, see here - https://github.com/dask/distributed/pull/6018
click~=8.0.0
# when installing google-cloud-storage which required >=3.20.1, <5 it was upgrading the protobuf version to the latest
# version and because kfp 1.8.13 requires protobuf>=3.13, <4 it resulted incompatibility between kfp and protobuf
# this can be removed once kfp will support protobuf > 4
# since google-cloud blacklisted 3.20.0 and 3.20.1 we start from 3.20.2
protobuf>=3.13, <3.20
# 3.0/3.2 iguazio system uses 1.0.1, but we needed >=1.6.0 to be compatible with k8s>=12.0 to fix scurity issue
# since the sdk is still mark as beta (and not stable) I'm limiting to only patch changes
# 1.8.14 introduced new features related to ParallelFor, while our actual kfp server is 1.8.1, which isn't compatible
# with the new features, therefore limiting to 1.8.13
kfp~=1.8.0, <1.8.14
nest-asyncio~=1.0
ipython~=7.0
nuclio-jupyter~=0.9.6
# >=1.16.5 from pandas 1.2.1 and <1.23.0 from storey
numpy>=1.16.5, <1.23.0
# limiting pandas to <1.5.0 since 1.5.0 causes exception in storey on casting from ns to us
pandas~=1.2, <1.5.0
# used as a the engine for parquet files by pandas
# >=3 to stay compatible with google-cloud
pyarrow>=3,<7
pyyaml~=5.1
requests~=2.22
sqlalchemy~=1.3
# >=0.8.6 from kfp 1.6.0 (and still up until 1.8.10)
tabulate~=0.8.6
v3io~=0.5.20
pydantic~=1.5
orjson~=3.3
alembic~=1.9
mergedeep~=1.3
# 3.2 iguazio system uses 0.9.x - limiting to only patch changes
v3io-frames~=0.10.2
semver~=2.13
dask~=2021.11.2
distributed~=2021.11.2
# iguazio systems are running 1.17-1.21 so ideally we would use 17.X or later, but kfp limiting to <13.0
kubernetes~=12.0
# TODO: move to API requirements (shouldn't really be here, the sql run db using the API sqldb is preventing us from
#  separating the SDK and API code) (referring to humanfriendly and fastapi)
humanfriendly~=8.2
fastapi~=0.88.0
fsspec~=2021.8.1
v3iofs~=0.1.15
# 3.4 and above failed builidng in some images - see https://github.com/pyca/cryptography/issues/5771
cryptography~=3.0, <3.4
storey~=1.3.5
deepdiff~=5.0
pymysql~=1.0
inflection~=0.5.0
python-dotenv~=0.17.0
pickle5~=0.0.12; python_version <= '3.7'
cloudpickle~=2.2
