# >=1.25.4, <1.27 from botocore 1.19.28 inside boto3 1.16.28 inside nuclio-jupyter 0.8.8
urllib3>=1.25.4, <1.27
# >=3.0.2 from requests 2.25.1 <4.0 from aiohttp 3.7.3, requests is <5, so without the upbound there's a conflict
chardet>=3.0.2, <4.0
GitPython~=3.0
aiohttp~=3.6
click~=7.0
# 3.0 iguazio system uses 1.0.1, since the sdk is still mark as beta (and not stable) I'm limiting to only patch changes
kfp~=1.0.1
nest-asyncio~=1.0
# >=5.5 from nuclio-jupyter, <7.17 cause from 7.17 python 3.6 is not supported (and models-gpu-legacy image build fail)
ipython>=5.5, <7.17
nuclio-jupyter>=0.8.9
pandas~=1.0
# used as a the engine for parquet files by pandas
pyarrow~=1.0
pyyaml~=5.1
requests~=2.22
sqlalchemy~=1.3
tabulate>=0.8.0, <=0.8.3
v3io~=0.5.0
pydantic~=1.5
# <3.4 since 3.4 can't be installed on pip 18.1
orjson>=3,<3.4
importlib-resources; python_version < '3.7'
alembic~=1.4
mergedeep~=1.3
# 3.0 iguazio system uses 0.8.x - limiting to only patch changes
v3io-frames~=0.8.5
semver~=2.13
dask~=2.12
# dask-kubernetes 0.11.0 has distributed>=2.5.2, but after 2.30.1 they moved to CalVer and released 2020.12.0
# so without our limitation to <3, 2020.12.0 is installed which is incompatible since it has dask>=2020.12.0 while ours
# is ~=2.12
# TODO: dask-kubernetes will probably release 0.11.1 with a fix for this soon and this could be removed
# (19.01.2021) - >=2.5.2, <3 in the client resolves to 2.30.1, and mlrun/ml-models comes pre-installed with 2.11.0 which
# is fine for that specifier, but they don't work together (couldn't find why) only 2.23 and up is working, so putting
# min bound of 2.23
distributed>=2.23, <3
# 3.0 iguazio system is running k8s 1.17 so ideally we would use 17.X, but kfp limiting to <12.0
kubernetes~=11.0
# TODO: move to API requirements (shouldn't really be here, the sql run db using the API sqldb is preventing us from
#  separating the SDK and API code) (referring to humanfriendly and fastapi)
humanfriendly~=8.2
fastapi~=0.62.0
