# see main requirements.txt for reasoning the resrictions
urllib3>=1.25.4, <1.27
blosc~=1.7
bokeh~=2.0
cloudpickle~=1.5
dask-kubernetes~=0.11.0
dask-ml~=1.4
dask[complete]~=2.12
# see main requirements.txt for reasoning the resrictions
distributed>=2.23, <3
fsspec~=0.8.0
gnureadline~=8.0
kubernetes~=11.0
lifelines~=0.25.0
lightgbm~=3.0
lz4~=3.0
msgpack~=1.0
# see main requirements.txt for reasoning the resrictions
numpy>=1.16.5, <1.20.0
plotly~=4.7
pyarrow~=1.0
pyod~=0.8.1
pytest~=5.4
scikit-learn~=0.23.0
scikit-multiflow~=0.5.3
scikit-optimize~=0.8.1
scikit-plot~=0.3.7
tornado~=6.0
transformers~=3.0
vaex~=2.6
# wrapt==1.11.* from astroid 2.3.3 that is from the continuumio/anaconda3:2020.02 base image
wrapt~=1.11.0
xgboost~=1.1
yellowbrick~=1.1
