blosc==1.7.0
bokeh>=2.0.2
cloudpickle==1.1.1
dask-kubernetes>=0.10.1
dask-ml>=1.4.0
dask-xgboost>=0.1.10
dask[complete]==2.12
distributed==2.14
fsspec>=0.7.3
gnureadline>=8.0.0
kubernetes==10.0.1
lifelines>=0.24.8
lightgbm>=2.3.1
lz4==2.2.1
msgpack==1.0.0
numpy==1.18.1
plotly==4.7.0
pyarrow>=0.17
pyod>=0.7.9
pytest>=5.4.2
scikit-learn>=0.23
git+https://github.com/scikit-multiflow/scikit-multiflow.git
scikit-optimize>=0.7.4
scikit-plot>=0.3.7
tornado==6.0.4
transformers>=2.5.0
urllib3==1.25.8
vaex>=2.6
wrapt>=1.12.1
xgboost>=1.1
yellowbrick>=1.1
