matplotlib~=3.5
scipy~=1.13.0
scikit-learn~=1.5.2
seaborn~=0.11.0
scikit-plot~=0.3.7
mpi4py~=3.1
# pymysql version should be aligned with mlrun-api due to common use with the model monitoring database
pymysql~=1.1
# consumed when training a model using PyTorch
tqdm~=4.66
# dask related packages:
dask-kubernetes~=0.11.0
dask-ml~=1.4,<1.9.0; python_version == "3.9"
dask-ml~=2024.4.4; python_version >= "3.11"
# Exclude dask[diagnostics] due to ML-9200
# dask 2023 does not work on python 3.11
kfp==1.8.22; python_version <= "3.9"
kfp==1.8.23; python_version > "3.9"
mlrun-pipelines-kfp-v1-8[kfp]~=0.5.7
