blosc==1.7.0
cloudpickle==1.1.1    
dask-kubernetes>=0.10.1
dask-ml>=1.4.0
dask-xgboost>=0.1.10
dask[complete]==2.12
distributed==2.14
face_recognition
gnureadline>=8.0.0
imutils>=0.5.3
kubernetes==10.0.1
lz4==2.2.1
msgpack==1.0.0
git+https://github.com/scikit-multiflow/scikit-multiflow
opencv-contrib-python>=4.2.0.34
pyod>=0.7.9
tornado==6.0.4
transformers>=2.5.0
urllib3==1.25.8 
