blosc==1.7.0
cloudpickle==1.1.1    
dask-kubernetes>=0.10.1
dask-ml>=1.4.0
dask-xgboost>=0.1.10
dask[complete]==2.12
distributed==2.14
dtreeviz>=0.8.2
face_recognition
gnureadline>=8.0.0
imutils>=0.5.3
kubernetes==10.0.1
lz4==2.2.1
msgpack==1.0.0
pymc3>=3.8
scikit-multiflow>=0.4.1
networkx>=2.4
opencv-contrib-python>=4.2.0.34
pyod>=0.7.9
tornado==6.0.4
transformers>=2.10
vaex>=2.6
urllib3==1.25.8 