uvicorn~=0.20.0
dask-kubernetes~=0.11.0
apscheduler~=3.6, !=3.10.2
sqlite3-to-mysql~=1.4
objgraph~=3.5
igz-mgmt~=0.0.10
humanfriendly~=9.2
fastapi~=0.95.2
# in sqlalchemy>=2.0 there is breaking changes (such as in Table class autoload argument is removed)
sqlalchemy~=1.4
