# <0.16 from botocore inside nuclio-jupyter, >=0.13.1 from readme-renderer inside twine (from dev-requirements)
docutils<0.16, >=0.13.1
numpydoc==0.9.1
recommonmark==0.6.0
sphinx==2.2.2
sphinx_rtd_theme==0.4.3
sphinx-copybutton
